<template name="dashboard">
  {{#if showWelcome}}
  <div class="section">
    <div class="row">
      <div class="card blue">
        <div class="card-content white-text">
          <span class="card-title title">Welcome to the SocratIQ community!</span>
          <br><p>I am joining as a: </p><br>
          <div class="roles">
            <a id="show-student" class="blue darken-3 waves-effect waves-light btn-large">Student</a>
            <a id="show-mentor" class="green waves-effect waves-light btn-large">Mentor</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{#unless showWelcome}}
  <div class="section">
    {{#if showStudentForm}}
      {{> student_form}}
    {{else}}
      {{#if showMentorForm}}
        {{> mentor_form}}
      {{else}}

        {{#if studentMode}}
          <div class="row">
            <div class="col s6">
              <h5>Available Mentors</h5>
              {{#each mentor in openMentors}}
                {{> mentor_row mentor=mentor}}
              {{/each}}
            </div>
            <div class="col s6">
              <h5>Requested Mentors</h5>
              {{#each mentor in requestedMentors}}
                {{> mentor_row mentor=mentor requested=true}}
              {{/each}}
            </div>
          </div>
        {{else}}
          <div class="row">
            <div class="col s6">
              <h5>Students who have requested you</h5>
              {{#each student in requestedStudents}}
                {{> student_row student=student}}
              {{/each}}
            </div>
            <div class="col s6">
              <h5>Students you have accepted</h5>
              {{#each student in matchedStudents}}
                {{> student_row student=student matched=true}}
              {{/each}}
            </div>
          </div>
          <br>
          <div class="row center">
            <h5>Scheduling tools:</h5>
            <p><a href="https://www.when2meet.com/">When2meet</a></p>
            <p><a href="https://calendar.google.com/calendar/">Google Calendar</a></p>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
  {{/unless}}
</template>
