<template name="dashboard">
  <div class="section">
    <div class="row">
      <div class="card blue">
        <div class="card-content white-text">
          <span class="card-title title">Welcome to the SocratIQ community!</span>
          <br><p>I am joining as a: </p><br>
          <div class="roles">
            <a class="blue darken-3 waves-effect waves-light btn-large">Student</a>
            <a class="green waves-effect waves-light btn-large">Mentor</a>
            <a class="red lighten-2 waves-effect waves-light btn-large">Parent</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
