<template name="mentor_row">
  <div class="card">
    <div class="card-content">
      <span class="mentor-title card-title">{{mentor.name}}</span>
      {{#if requested}}
      <span class="chip">
        {{status}}
      </span>
      <a id="request-mentor" class="btn-floating halfway-fab waves-effect waves-light red btn tooltipped" data-position="top" data-delay="50" data-tooltip="Unrequest this mentor"><i class="material-icons">delete</i></a>
      {{else}}
      <a id="request-mentor" class="btn-floating halfway-fab waves-effect waves-light blue btn tooltipped" data-position="top" data-delay="50" data-tooltip="Request this mentor"><i class="material-icons">add</i></a>
      {{/if}}
      <p class="mentor-header"><strong>{{mentor.year}} year</strong> at <strong>{{mentor.institution}}</strong> studying <strong>{{mentor.major}}</strong></p>
    </div>
    <div class="card-action">
      {{#each service in servicesList}}
        <a class="blue-text">{{service}}</a>
      {{/each}}
    </div>
  </div>
</template>