 <template name="mentor_form">
   <div class="section">
    <div class="card">
      <div class="card-content">
        <span class="card-title title">Mentor Form</span>
        <h6>(* Required field)</h6>
        <form>
          <div class="row">
            <div class="input-field col s12 m4">
              <select id="mentor-year">
                <option value="" disabled selected>Choose a year</option>
                <option value="1st">1st year (Freshman)</option>
                <option value="2nd">2nd year (Sophomore)</option>
                <option value="3rd">3rd year (Junior)</option>
                <option value="4th">4th year (Senior)</option>
              </select>
              <label>*Year</label>
            </div>
            <div class="input-field col s12 m4">
              <input id="mentor-interest" type="text" class="validate">
              <label for="interest">*(Intended) Major eg. Biology, History, ...</label>
            </div>
            <div class="input-field col s12 m4">
              <input id="mentor-inst" type="text" class="validate">
              <label for="zip">*Institution</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="mentor-zip" type="number" class="validate">
              <label for="zip">*ZIP Code</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12" id="mentor-services">
              <p>*Services you can provide:</p>
              <p>
                <input name="admissions" type="checkbox" id="admissions" />
                <label for="admissions">Admissions Mentorship</label>
              </p>
              <p>
                <input name="exam" type="checkbox" id="exam" />
                <label for="exam">SAT / ACT Prep</label>
              </p>
              <p>
                <input name="essay" type="checkbox" id="essay" />
                <label for="essay">Essay Editing</label>
              </p>
            </div>
          </div>
          <br>
          <div class="row"><a id="show-optional" class="waves-effect waves-teal btn-flat">Toggle optional fields</a></div>
          {{#if showOptional}}
          <div class="row">
            <div class="input-field col s12 m4">
              <select id="mentor-gender">
                <option value="" disabled selected>Choose a gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="neutral">Neutral</option>
                <option value="other">Other</option>
              </select>
              <label>Your gender</label>
            </div>
            <div class="input-field col s12 m4">
                <input id="mentor-eth" type="text" class="validate">
                <label for="mentor-eth">Race/ethnicity?</label>
            </div>
            <div class="input-field col s12 m4">
              <select id="mentor-gen">
                <option value="" disabled selected>Choose an option</option>
                <option value="first-generation">First generation</option>
                <option value="second-generation">Second generation</option>
                <option value="more-than-second-generation">Third or more</option>
              </select>
              <label>First generation college student?</label>
            </div>
          </div>
          {{/if}}
          <a id="submit-mentor" class="waves-effect waves-light btn">Submit</a>
        </form>
      </div>
    </div>
  </div>
</template>
