<template name="about">
  <div class="section">
    <div class="row">
      <div class="card blue darken-3 about-card">  
        <div class="card-content grey-text text-lighten-5">
          <div class="card-title title">Our Mission</div>
          <p>SocratlQ aims to provide information and resources for the first-generation college student. We match high school students with a college student mentor who then can help the high schooler with SAT/ACT preparation, essay guidance and editing, as well as general information about the college admissions process.</p>

          <p>Our service is unique in the sense that we cater specifically to each individual’s
            needs by ensuring a match with a mentor that shares similar interests and life
            experiences.</p>
          </div>
      </div>
      <div class="card red lighten-2 about-card">  
        <div class="card-content grey-text text-lighten-5">
          <div class="card-title title">Pricing </div>
          <p>SocratlQ is a monthly subscription service of $30 /month for an all inclusive package with all of our services.</p>
        </div>
      </div>
    </div>
  </div>
</template>
