<template name="about">
  <div class="section">
    <div class="row">
      <div class="card blue darken-3 about-card">  
        <div class="card-content grey-text text-lighten-5">
          <div class="card-title title">Our Mission</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non metus tortor. Donec ut mollis neque. Integer eget fringilla risus, sed vestibulum odio. Nulla sapien enim, semper rhoncus ex vitae, placerat finibus nisl. Pellentesque cursus arcu diam, at faucibus risus pulvinar a. Etiam ultricies augue eget tellus malesuada, a cursus enim consectetur. Aliquam sed sagittis arcu. Pellentesque efficitur bibendum ante, quis gravida nulla elementum sit amet. Praesent euismod lobortis semper. Nunc venenatis at magna id elementum. Sed bibendum accumsan orci, ac gravida mauris commodo eget. Vestibulum sit amet elementum quam. Donec sodales, diam eget ultrices pulvinar, magna elit semper dui, at fringilla libero erat at nisi. Aenean nec neque euismod lorem porttitor ullamcorper. Fusce eget enim a elit cursus semper nec sodales sem.</p>
        </div>
      </div>
      <div class="card red lighten-2 about-card">  
        <div class="card-content grey-text text-lighten-5">
          <div class="card-title title">Pricing </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non metus tortor. Donec ut mollis neque. Integer eget fringilla risus, sed vestibulum odio. Nulla sapien enim, semper rhoncus ex vitae, placerat finibus nisl. </p>
        </div>
      </div>
    </div>
  </div>
</template>
