<template name="services">
<div class="card horizontal">
  <div class="card-image">
    <img src="http://lorempixel.com/140/300/nature">
  </div>
  <div class="card-stacked">
    <div class="card-content">
    <div class="card-title title">1 on 1 Mentorship</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non metus tortor. Donec ut mollis neque. Integer eget fringilla risus, sed vestibulum odio. Nulla sapien enim, semper rhoncus ex vitae, placerat finibus nisl. Pellentesque cursus arcu diam, at faucibus risus pulvinar a. Etiam ultricies augue eget tellus malesuada, a cursus enim consectetur. Aliquam sed sagittis arcu. Pellentesque efficitur bibendum ante, quis gravida nulla elementum sit amet. Praesent euismod lobortis semper. Nunc venenatis at magna id elementum. Sed bibendum accumsan orci, ac gravida mauris commodo eget.</p>
    </div>
  </div>
</div>
<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
    <div class="card-title title">SAT / ACT Prep</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non metus tortor. Donec ut mollis neque. Integer eget fringilla risus, sed vestibulum odio. Nulla sapien enim, semper rhoncus ex vitae, placerat finibus nisl. Pellentesque cursus arcu diam, at faucibus risus pulvinar a. Etiam ultricies augue eget tellus malesuada, a cursus enim consectetur. Aliquam sed sagittis arcu. Pellentesque efficitur bibendum ante, quis gravida nulla elementum sit amet. Praesent euismod lobortis semper. Nunc venenatis at magna id elementum. Sed bibendum accumsan orci, ac gravida mauris commodo eget.</p>
    </div>
  </div>
  <div class="card-image">
    <img src="http://lorempixel.com/140/300/nature/6">
  </div>
</div>
<div class="card horizontal">
  <div class="card-image">
    <img src="http://lorempixel.com/140/300/nature/6">
  </div>
  <div class="card-stacked">
    <div class="card-content">
    <div class="card-title title">Essay Editing</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non metus tortor. Donec ut mollis neque. Integer eget fringilla risus, sed vestibulum odio. Nulla sapien enim, semper rhoncus ex vitae, placerat finibus nisl. Pellentesque cursus arcu diam, at faucibus risus pulvinar a. Etiam ultricies augue eget tellus malesuada, a cursus enim consectetur. Aliquam sed sagittis arcu. Pellentesque efficitur bibendum ante, quis gravida nulla elementum sit amet. Praesent euismod lobortis semper. Nunc venenatis at magna id elementum. Sed bibendum accumsan orci, ac gravida mauris commodo eget.</p>
    </div>
  </div>
</div>
</template>
