<template name="services">
  <div class="section">
    <div class="row">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/img/services1.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title title">1 on 1 Mentorship</div>
            <p>SocratIQ’s one-on-one mentorship is the foundation to your child’s success. It’s what makes us unique.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title title">SAT / ACT Prep</div>
            <p>Standarized testing is an incredibly important part of your college application. Let SocratIQ help you improve your SAT score by 200 points or your ACT score by 4 guaranteed!</p>
          </div>
        </div>
        <div class="card-image">
          <img src="/img/services2.jpg">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/img/services3.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title title">Essay Editing</div>
            <p>It’s true, your college essay matters! Let us help you share your skills by essay editing. We work on you individually and really get to the core of who you are.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
