<template name="services">
  <div class="section">
    <div class="row">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/img/services1.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title title">1 on 1 Mentorship</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non metus tortor. Donec ut mollis neque. Integer eget fringilla risus, sed vestibulum odio. Nulla sapien enim, semper rhoncus ex vitae, placerat finibus nisl. Pellentesque cursus arcu diam, at faucibus risus pulvinar a. Etiam ultricies augue eget tellus malesuada, a cursus enim consectetur. Aliquam sed sagittis arcu.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title title">SAT / ACT Prep</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non metus tortor. Donec ut mollis neque. Integer eget fringilla risus, sed vestibulum odio. Nulla sapien enim, semper rhoncus ex vitae, placerat finibus nisl. Pellentesque cursus arcu diam, at faucibus risus pulvinar a. Etiam ultricies augue eget tellus malesuada, a cursus enim consectetur. Aliquam sed sagittis arcu. </p>
          </div>
        </div>
        <div class="card-image">
          <img src="/img/services2.jpg">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card horizontal">
        <div class="card-image">
          <img src="/img/services3.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="card-title title">Essay Editing</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non metus tortor. Donec ut mollis neque. Integer eget fringilla risus, sed vestibulum odio. Nulla sapien enim, semper rhoncus ex vitae, placerat finibus nisl. Pellentesque cursus arcu diam, at faucibus risus pulvinar a. Etiam ultricies augue eget tellus malesuada, a cursus enim consectetur. Aliquam sed sagittis arcu. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
