.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  position: relative;
}
.banner-img {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('/img/landing.jpg');
  background-size: cover;
  z-index: -2;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.banner-text {
  text-align: center;
  margin: 24px;
  max-width: 80%;
  font-weight: 700;
  font-size: 2.5rem;
}
.ribbon {
  top: 59px;
  position: absolute;
  z-index: -99;
  left: 0;
  width: 100%;
  height: 20px;
}
.landing-table th, .landing-table td {
  text-align: center;
}
.landing-icon-container {
  height: 200px;
  padding: 24px;
}
.landing-icon-container > div {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}
#landing-student {
  background-image: url('/img/landing-student.png');
}
#landing-mentor {
  background-image: url('/img/landing-parent.png');
}
.landing-table .btn-large {
  width: 100%;
}