<template name="landing">
  <div class="section">
    <div class="blue ribbon"></div>
    <div class="row banner">
      <div class="banner-text">
        Increase your chances for college applications by learning from alumni and current students!
      </div>
      <a href="/about" class="banner-btn btn-large light-blue waves-effect waves-light btn">find out more</a>
      <div class="banner-img"></div>
    </div>
    <div class="row">
      <div class="col s6">
        <table class="landing-table striped">
          <thead class="white-text blue">
            <div class="landing-icon-container blue darken-2">
              <div id="landing-student"></div>
            </div>
            <tr><th>Students</th></tr>
          </thead>
          <tbody>
            <tr><td>Find a mentor you can relate to </td></tr>
            <tr><td>Feel prepared for the SAT/ACT </td></tr>
            <tr><td>Learn about the college admissions process </td></tr>
            <tr><td>Find a college that fits your needs</td></tr>
            <tr><a class="blue waves-effect waves-light btn-large">Sign up</a></tr>
          </tbody>
        </table>
      </div>
      <div class="col s6">
        <table class="landing-table striped">
          <thead class="white-text green">
            <div class="landing-icon-container green darken-2">
              <div id="landing-mentor"></div>
            </div>
            <tr><th>Mentors</th></tr>
          </thead>
          <tbody>
            <tr><td>Apply your application experience</td></tr>
            <tr><td>Get matched with a student you can relate to</td></tr>
            <tr><td>Hold discussions with parents and students</td></tr>
            <tr><td>Contribute articles about the admissions process </td></tr>
            <tr><a class="green waves-effect waves-light btn-large">Sign up</a></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
